<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Interruptores</title>
</head>
<body>
<h1>Interruptores</h1>
<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Estado</th>
    <th>Ação</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="interruptor : ${interruptores}">
    <td th:text="${interruptor.interruptor}"></td>
    <td th:text="${interruptor.estado ? 'Ligado' : 'Desligado'}"></td>
    <td>
      <form th:action="@{/alterarEstado}" method="post">
        <input type="hidden" name="interruptorNome" th:value="${interruptor.interruptor}">
        <button type="submit" th:text="${interruptor.estado ? 'Desligar' : 'Ligar'}"></button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
